.code-tool-line {
    text-align: right;
    position: absolute;
    right: 8px;
    top: 8px;
    opacity: 0;
    animation: fadeout 0.8s ease forwards;
}

.code-pre:hover .code-tool-line {
    animation: fadein 0.8s ease forwards;
}

.code-tool-line-copy {
    cursor: pointer;
    opacity: 1;
}

.code-line-number {
    position: absolute;
    left: -3.6em;
    width: 3em;
    padding-right: 5px;
    color: #ccc;
    border-right: solid #3e403c 3px;
    text-align: right;
}

.code-line-number span {
    line-height: 1.599;
    display: block;
}

.code-pre {
    position: relative;
}

.ori-code code {
    line-height: 0px;
}
@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

span[line-row] {
    counter-reset: linenumber;
}

span[line-row]>span {
    counter-increment: linenumber;
}

span[line-row]>span::before {
    content: counter(linenumber);
}