.code-tool-line {
    text-align: center;
    position: absolute;
    right: 8px;
    top: 8px;
    animation: fadeout 0.8s ease forwards;
    background: rgba(34, 34, 34, 0.4);
    height: 32px;
    line-height: 32px;
    border-radius: 10px;
}

.code-tool-line-foot {
    bottom: 0px;
    top: auto;
    animation: fadeout 0.8s ease forwards !important;
    width: 32px;
    height: auto;
    right: -36px;
    background: #333;
}

.code-tool-line-foot .code-tool-line-item {
    display: block !important;
    margin: 4px 0;
}

.code-tool-line-item {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
}

.code-pre:hover .code-tool-line {
    animation: fadein 0.8s ease forwards !important;
}

.code-tool-line-item-icon {
    opacity: 1;
    margin: 8px;
}

.code-line-number {
    position: absolute;
    left: -3.2em;
    width: 3em;
    padding-top: 0;
    padding-right: 5px;
    color: #ccc;
    border-right: solid #3e403c 3px;
    text-align: right;
    border-radius: 0px !important;
    overflow: hidden;
    max-height: 90%;

    transition: max-height 0.65s linear;
}

.code-line-number span {
    line-height: 1.6;
    display: block;
}

.code-pre {
    position: relative;
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

span[line-row] {
    counter-reset: linenumber;
}

span[line-row]>span {
    counter-increment: linenumber;
}

span[line-row]>span::before {
    content: counter(linenumber);
}

.code-pre * {
    font-family: "DejaVuSansMono", monospace;
}

.code-hide {
    display: none;
    animation: fadeout 0.8s linear forwards;
}

.code-pre-show-all .code-hide {
    display: inline-block !important;
    animation: fadein 0.8s linear forwards;
}

.code-pre pre {
    border-radius: 10px;
    padding: 0.8em;
    max-height: 300px;
    overflow-x: auto !important;
    overflow-y: hidden !important;

    transition: max-height 0.65s ease;
}

.code-pre-show-all pre {
    max-height: 16500px !important;

    transition: max-height 20.625s linear;
}

.code-pre-show-all .code-line-number {
    max-height: 100% !important;
}

.code-pre-show-all .code-pre-show-all-btn {
    display: none !important;
}

.code-pre-show-all-btn {
    position: absolute;
    bottom: 0;
    opacity: 0.85;
    width: 100%;
    background: #ccc !important;
    color: #555 !important;
    border-radius: 0 0 10px 10px;
}

@font-face {
    font-family: "DejaVuSansMono";
    src: url("../fonts/DejaVuSansMono.ttf");
}

blockquote {
    border-left: solid 2px;
    padding: 5px;
    overflow: inherit;
    background-color: #333;
    border-radius: 0 10px 10px 0;
    margin: 16px 0;
}
